/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ycb-target {
    background-color: transparent;
    color: black;
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto', 'Arial';

}

#ycb-container {
    background-color: white;
    font-size: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 20px; */
    flex-direction: column;
}

#ycb-container #logo {
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  margin: 0 0 40px 0;
}

#ycb-blocker {
    /* color: grey; */
    background-color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#ycb-blocker h1 {
    font-size: 50px;
    line-height: 75px;
    font-weight: bold;
    /* color: #FFD77A; */
}

#ycb-meta h2 {
    font-size: 50px;
    font-weight: bold;
    /* color: #FFD77A; */
}

#ycb-meta h3 {
    font-size: 35px;
    font-weight: bold;
    /* color: #999999; */
}

#ycb-meta h4 {
    font-size: 30px;
    font-weight: bold;
    /* color: #999999; */
}

#ycb-meta #view-meta-options label {
    color: red;
    /* width:  */
}

#ycb-meta #view-meta-options #view-meta-options-container {
    width: 768px;
}

#ycb-blocker h2 {
    font-size: 50px;
    line-height: 75px;
    font-weight: bold;
    color: black;
}

#ycb-blocker .txtAlternative {
    font-size: 100px;
    line-height: 150px;
    font-weight: bold;
    color: black;
}

#ycb-blocker a:hover {
    /* color: orange; */
    text-decoration: underline;
}

#ycb-blocker #alternative {
    text-transform: uppercase;
    font-size: 100px;
    /* height: 100px; */
    font-weight: bold;
}

#ycb-blocker .regular {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    /* color: yellow; */
    }

#ycb-blocker p {
    font-size: 24px;
    font-weight: normal;
}


#ycb-blocker .btn-proceed {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#ycb-blocker .btn-proceed:hover {
    background-color: orangered;
    cursor: pointer;
}

#ycb-container footer {
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
}

#ycb-container footer ul {
    margin: 20px 0 0 0;
     color: grey;
}

#ycb-container #btn-metaFooter-back {
    font-size: 25px;
    color: grey;
}

#ycb-container #btn-metaFooter-back:hover {
    color: grey;
    cursor: pointer;
}

#ycb-container footer li {
    display: inline;
    font-size: 25px;
    margin: 0 20px  0 0;
    color: grey;
}

#ycb-container footer li:hover {
/* text-decoration: underline; */
    color: yellow;
    cursor: pointer;
}

#ycb-container {
    text-align: center;
    z-index: 99999999999999999999999999999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blockerTable {
  margin: 0 auto;
}
