#ycb-target {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#ycb-container {
    background-color: #171833;
    font-size: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 20px; */
}

#ycb-blocker {
    color: #FFD77A;
    background-color: #171833;
    text-align: center;
    font-weight: bold;
    font-family: 'Ubuntu Condensed', sans-serif;
        padding: 20px;

}

#ycb-blocker h1 {
    font-size: 50px;
    line-height: 75px;
    font-weight: bold;
    color: #FFD77A;
}

#ycb-meta h2 {
    font-size: 50px;
    font-weight: bold;
    color: #FFD77A;
}

#ycb-meta h3 {
    font-size: 35px;
    font-weight: bold;
    color: #999999;
}

#ycb-meta h4 {
    font-size: 30px;
    font-weight: bold;
    color: #999999;
}

#ycb-meta #view-meta-options label {
    color: white;
    /* width:  */
}

#ycb-meta #view-meta-options #view-meta-options-container {
    width: 768px;
}

#ycb-blocker h2 {
    font-size: 50px;
    line-height: 75px;
    font-weight: bold;
    color: #FFD77A;
}

#ycb-blocker .txtAlternative {
    font-size: 100px;
    line-height: 150px;
    font-weight: bold;
    color: yellow;
}

#ycb-blocker a:hover {
    /* color: orange; */
    text-decoration: underline;
}

#ycb-blocker #alternative {
    text-transform: uppercase;
    font-size: 100px;
    /* height: 100px; */
    font-weight: bold;
}

#ycb-blocker .regular {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    /* color: yellow; */
    }

#ycb-blocker p {
    font-size: 24px;
    font-weight: normal;
}

footer {
    text-align: center;
    display: inline-block;
}

#ycb-container footer ul {
    margin: 20px 0 0 0;   
     color: white;
}

#ycb-container #btn-metaFooter-back {
    font-size: 25px;
    color: white;
}

#ycb-container #btn-metaFooter-back:hover {
    color: yellow;
    cursor: pointer;
}

#ycb-container footer li {
    display: inline;
    font-size: 25px;
    margin: 0 20px  0 0;   
    color: white;
}

#ycb-container footer li:hover {
/* text-decoration: underline; */
    color: yellow;
    cursor: pointer;
}

#ycb-container {
    text-align: center;
    z-index: 99999999999999999999999999999;
}